html {

  font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  h3 {
    

    font-size: 18px;
   
   
    
}


  .shrik {

    font-family: 'Shrikhand',sans-serif;

  }
  a {
  
    
  
    color: inherit;
  }
  * {
  
    cursor: default;
  
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
  
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
  }

  

 

  a {
    
   

text-decoration: none;


&:hover {
  color: inherit;

 
}



  }