html {

  font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }


  .shrik {

    font-family: 'Shrikhand',sans-serif;

  }
  a {
  
    @extend .hover-link;
  
    color: inherit;
  }
  * {
  
    cursor: default;
  
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
  
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
  }

  

 

  a {
    animation: none;
    transition: none;

text-decoration: none;


&:hover {
  color: inherit;

 
}



  }