.btn-violet {
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 220px;

    background: rgb(228,112,218);
    background: linear-gradient(183deg, rgba(228,112,218,1) 0%, rgba(165,92,220,1) 86%);
}


.numero {

    $value1 : 30px ;
    text-align: center;

    line-height:$value1;

    color: white;
font-size: $value1 - 10px;

    height: $value1;
    width: $value1;
    background-color: #a55cdc;
    border-radius: $value1;


   }

   .localisation {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr ;
    justify-content: center;
    line-height: 100%;
    height: 50px;
      text-align: center;
  
      padding: 10px;
      background-color: $color-barre;
      box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  }