.blockmenu {
  display: grid;
  align-items: center;

  @media all and (  min-width :900px) {
    background-color: white;
  }

  
  h2 {
    
    @extend .barre-verte;
    color:gray;
   }


 


  
  
  position: relative;
margin-top: -80px;

width: 100%;
  border-radius: 30px 30px 0px 0px;
  
.commander  {

  margin-top: 50px;
  margin-bottom: 50px;
}
  header {
    margin-bottom: 25px;

display: flex;
flex-direction: row;
align-content: center;

.heart {
  width: 40px;
font-size: 30px;

display: grid;
align-items: center;
justify-content: center;


}
justify-content: space-between;



  }

  
  

  padding: 20px;
  background-color: #f6f6f6;


  .content {
    padding-top: 15px;
    padding-bottom: 15px;


    display: grid;
    grid-row-gap: 15px;


    
  }
  
  @for $i from 1 through 10 {


    .item:nth-child(#{$i}) {

      @include Progress(#{$i/3}s)
    }
      
      
      }


      .item {

    

    
        height: 70px;
    
    
        white-space: nowrap;
        overflow: hidden;
    
        text-overflow: ellipsis ;
        align-items: stretch;
    
    
    
        &:hover {
    
          &:after {
    
            animation:  linear 0.5s forwards rotation,linear 0.5s forwards validation;
    
    
    
    
    
          }
          &:before {
            animation: linear 0.5s forwards validation;
    
    
    
          }
    
    
    
    
    
    
    
    
    
    
    
        }
    
        border-radius: 20px;
    
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    
    
    
    
    
    
        h4 {
          font-size: 1rem;
          
          color: rgb(158, 158, 158);
          padding-left: 10px;
    grid-row: 2;
          grid-column: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          
    
        }
    
        h3 {font-size: 1.1rem;
          padding-left:10px;
          grid-column: 1;
          grid-row: 1;
    
    
          overflow: hidden;
          text-overflow: ellipsis;
    
        }
     
    
    
        
    
        .prix {
          text-align: center;
          font-size: 18px ;
          
    
          grid-column: 2;
          grid-row: 2 ;
    
    &::after {
    content: "\0020AC";
    color:black;
    
    
    }
    
    
        }
    
        
    
        &:after:first-line {
    
    
          content: "coucou";
        }
      &::before {
    
        content:"" ;
        display: block;
        width: 0px;
        height: 100%;
        z-index: 0;
    
    
    
        display: grid;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    
    
    
        grid-row: 1 / span 2;
        grid-column: 3;
    
        background-color: #8eddc8;
    
    
    
    
    
      }
    
        &:after {
    
    
    
    
    
          z-index: 10;
    
    
    
    
    
    
    
    
    
        @extend .fas  ;
          @extend .fa-check-circle ;
    
          content:"\f058" ;
          color: white;
          font-size: 25px;
    
          transform: rotate(-180deg);
    
    
    
          display: grid;
          align-items: center;
          justify-items: center;
          overflow: hidden;
          width: 0px;
          height: 100%;
    
    
          grid-row: 1 / span 2;
          grid-column: 3;
    
    
    
        }
    
        background-color: white;
    
    
      }


  }




