.fonctionnement {
padding: 20px;
padding-top: 60px;
   
    
    .content {
        @media all and ( min-width : 900px) {
        
    

            grid-template-columns: 1fr 1fr 1fr;
     
        }
        padding-top: 20px;

        
    display: grid;
    grid-template-columns: 1fr ;
    
    grid-row-gap: 20px;
    }
  
    i {

        padding-right: 10px;
    }
    &_item {
        

       

        
        
        
        margin: auto;  
        box-sizing: border-box;
        
        max-width: 400px;
        transition: filter 1s;

        &:hover {

            filter: brightness(0.90);

            .fas {
                color:$color-icone;



            }


        }
        


        display: grid;
        grid-template-columns:  max-content 1fr  ;

        grid-column-gap: 20px;
        align-items: center;
        .numero {

            z-index: 20;
        }

    }

  

    &_texte {

        @extend .box-shadow;
        padding: 20px;

        padding-top: 30px;
        padding-bottom: 30px;
        
        

       

        background-color: $color-header;
       

        margin-left: -30px;
       


        border-radius: 30px;



       
       

    }

    
    

    }