.navMenu {

    display: grid;
    text-align: center;
    align-items: center;
    height: 64px;
 
    .fleche {
 position: absolute;
      
      font-size: 25px;
      line-height:65px ;
      padding-left: 20px;
    }
  
  }