.spinner {
    z-index:100 ;
    display: block;

position: fixed;
width: 100%;
height: 100%;
background-color: black;
opacity: 0.5;
animation : end 1s step-end forwards;
display: grid;
align-items: center;
justify-content: center;
overflow: hidden;

&__content {


width: 100px;
height: 100px;
border-radius: 50%;
border : 5px solid;
border-color: rgb(126, 75, 150) transparent transparent;

animation: spin 0.5s linear infinite;



}





}

@keyframes spin {


100% {

    transform: rotate(360deg);
}


}

@keyframes end {

 
    100% {

        height: 0vh;
        width: 0vw;
    }
}